body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow-y: visible;
}

.top-bar {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: right;
}

.account {
    display: inline-block;
    padding: 0 20px;
}

.main-content {
    height: 100vh; 
    padding: 20px;
    margin: 0;
    justify-content: column;
    align-items: column;
}
.button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: 1px solid black; 
    border-radius: 15px; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #808080; 
    color: white;
}
.user-account {
    display: inline-block;
}

.account-details {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: 1px solid black; 
    border-radius: 15px; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.username {
    font-weight: bold;
}
.main-content {
    height: 80vh;
    padding: 20px;
}

.search-container {
    width: 70%;
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    transition: all 0.5s ease;
    max-height: 60px;
}

.search-row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    width: 50%;
    padding: 10px;
    border: 1px solid black; 
    border-radius: 5px;
    margin-right: 10px;
}

.add-filter-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px;
}

.add-filter-button:hover {
    background-color: #808080;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.search-button:hover {
    background-color: #808080;
}

.dropdown-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
    
    overflow: hidden;
}

.search-dropdown {
    padding: 10px;
    border: 1px solid black; 
    border-radius: 5px;
    min-width: 150px;
    flex-shrink: 1;
    margin-bottom: 10px;
}
.search-dropdown option{
	 border-radius: 5px;
	
}
.main-content {
    height: 80vh;
    padding: 20px;
    overflow-y: auto;
}

.ad-list-container {
	transition: all 0.5s;
    overflow-y: scroll;
    width: 80%;
    margin: 20px auto;
    background-color: none;
    padding: 10px;
    border-radius: 10px;
    max-height: 500px
}

.search-container:hover{
    max-height: 300px;
}

.ad-container {
    display: flex;
    width: 95%; 
    height: calc(1 / 5 * 100vh);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 20px auto;
}

.ad-photo {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-right: 1px solid #ddd;
}

.ad-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ad-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.ad-title {
    margin: 0;
    font-size: 16px;
    margin-bottom: 10px;
}

.ad-description {
    flex-grow: 1;
    font-size: 14px;
}

.ad-contacts {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    font-size: 12px;
}
.sidebar {
    width: 12%;
    height: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    right: 0px;
    top: 11%;
}

.userAdv {
	overflow-y: scroll;
    width: 230px;
    margin: auto 10px;
    max-height: 200px;
}
.sidebar h2 {
    margin-top: 0;
    font-size: 24px;
}
.ad-owner-link {
    display: inline-block;
    margin-bottom: 5px;
    width: 75%;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    text-decoration: none; 
    transition: background-color 0.3s, color 0.3s;
}

.ad-owner-link:hover {
    background-color: #f0f0f0; 
    color: black;
}
.ad-new{
	overflow-y: scroll;
    width: 270px;
    margin: auto 10px;
    max-height: 100px;
}
.ad-link{
	display: inline;
	white-space: nowrap;
    text-align: left;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    text-decoration: none; 
    transition: background-color 0.3s, color 0.3s;
}
.ad-link:hover {
    background-color: #f0f0f0; 
    color: black;
}